memory-voice-admin/src/main/resources/application*
.idea/*
.idea
application.yml
application-dev.yml
application-lv.yml
application-pro.yml
application-test.yml
*.class
*.DS_Store
*.lock
*.swp
.settings/
.settings
target/
*/target/
bin/
logs/*
*/logs/*
.classpath
.idea
*.eml
*.tmp
._*
classes/
.mymetadata
.metadata
*.iml
.springBeans
/target/
/*/target/
.externalToolBuilders/
application.yml
/.project
/.idea/
