<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mem.vo.business.base.dao.ActivityUserDao" >

	<resultMap id="BaseResultMap" type="com.mem.vo.business.base.model.po.ActivityUser" >
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="user_id" property="userId" jdbcType="VARCHAR"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="activity_id" property="activityId" jdbcType="INTEGER"/>
		<result column="activity_name" property="activityName" jdbcType="VARCHAR"/>
		<result column="pass_qty" property="passQty" jdbcType="INTEGER"/>
		<result column="lottery_qty" property="lotteryQty" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
		<result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
		<result column="is_share" property="isShare" jdbcType="TINYINT"/>
	</resultMap>

	<!-- activity_user table all fields -->
	<sql id="Base_Column_List" >
		 id,
		user_id,
		user_name,
		activity_id,
		activity_name,
		pass_qty,
		lottery_qty,
		create_time,
		create_time,
		create_user,
		update_time,
		update_user,
		is_share
	</sql>
	<!-- 查询条件 -->
	<sql id="whereCondition">
		where is_delete = 0
		<trim  suffixOverrides="," >
			<if test="condition.id != null" >
				and id =  #{condition.id,jdbcType=BIGINT}
			</if>

			<if test="condition.userId != null and condition.userId != ''" >
				and user_id =  #{condition.userId,jdbcType=VARCHAR}
			</if>

			<if test="condition.userName != null and condition.userName != ''" >
				and user_name =  #{condition.userName,jdbcType=VARCHAR}
			</if>

			<if test="condition.activityId != null" >
				and activity_id =  #{condition.activityId,jdbcType=INTEGER}
			</if>

			<if test="condition.activityName != null and condition.activityName != ''" >
				and activity_name =  #{condition.activityName,jdbcType=VARCHAR}
			</if>

			<if test="condition.passQty != null" >
				and pass_qty =  #{condition.passQty,jdbcType=INTEGER}
			</if>

			<if test="condition.lotteryQty != null" >
				and lottery_qty =  #{condition.lotteryQty,jdbcType=INTEGER}
			</if>


			<if test="condition.createTime != null" >
				and create_time =  #{condition.createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="condition.createUser != null and condition.createUser != ''" >
				and create_user =  #{condition.createUser,jdbcType=VARCHAR}
			</if>

			<if test="condition.updateTime != null" >
				and update_time =  #{condition.updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="condition.updateUser != null and condition.updateUser != ''" >
				and update_user =  #{condition.updateUser,jdbcType=VARCHAR}
			</if>
			<if test="condition.isShare != null and condition.isShare != ''" >
				and is_share =  #{condition.updateUser}
			</if>

		</trim>
	</sql>

	<select id="queryShareUserbyUserCount" resultType="int">


		SELECT count(DISTINCT s.id)
		FROM activity_share a
		JOIN `user` u ON a.user_id = u.biz_code
		JOIN `user` s ON a.target_id = s.biz_code
		WHERE  u.id = #{userid}
		<if test="id != null">
			and 	a.activity_id = #{id}
		</if>

	</select>

	<select id="queryShareUserbyUser" resultType="com.mem.vo.business.base.model.po.User">

		SELECT DISTINCT s.id,s.`name` ,s.avatarurl,a.update_time as updateTime,a.create_time as createTime
		FROM activity_share a
		JOIN `user` u ON a.user_id = u.biz_code
		JOIN `user` s ON a.target_id = s.biz_code
		WHERE u.id = #{userid}
		<if test="id != null">
		and 	a.activity_id = #{id}
		</if>
		order by  a.create_time desc
		limit #{paging.start},#{paging.pageSize}
	</select>

	<select id="queryRewardByActivityAndUserCount" resultType="int">
			SELECT
				count(1)
			FROM
			reward r
		LEFT JOIN prize_d p ON r.prize_id= p.id
		LEFT JOIN prize pr ON p.prize_id=pr.id
		LEFT JOIN codetype c ON pr.codetype = c.id
		LEFT JOIN sponsor sp
		ON c.sponsorId = sp.id

			WHERE
				r.`status` != 2
			AND r.is_delete = 0
			AND r.activity_id = #{id} AND r.user_id = #{userid}

	</select>

	<select id="queryRewardByActivityAndUser" resultType="com.mem.vo.business.base.model.po.Prize">
			SELECT
					r.id ,
					r.prize_name AS prizeName,
					r.prize_type as prizeType,
			sp.thumb_url AS spurl
			FROM
				reward r
			LEFT JOIN prize_d p ON r.prize_id= p.id
			LEFT JOIN prize pr ON p.prize_id=pr.id
			LEFT JOIN codetype c ON pr.codetype = c.id
			LEFT JOIN sponsor sp
			ON c.sponsorId = sp.id

			WHERE
				r.`status` != 2
			AND r.is_delete = 0
			AND r.activity_id = #{id} AND r.user_id = #{userid}
			ORDER BY
				r.time DESC
		limit #{paging.start},#{paging.pageSize}
	</select>

	<select id="queryRewardByActivityCount" resultType="int">
	SELECT
			count(1)
			 FROM prize p
			LEFT JOIN codetype c ON p.codetype = c.id
			LEFT JOIN sponsor sp
			ON c.sponsorId = sp.id

		WHERE p.activity_id = #{id}
				and  p.is_delete = 0 AND p.status=1
	</select>

	<select id="queryRewardByActivity" resultType="com.mem.vo.business.base.model.po.Prize">
		SELECT
				p.id ,
				p.prize_name AS prizeName,
				p.prize_type as prizeType,
				sp.thumb_url AS spurl
				 FROM prize p
			LEFT JOIN codetype c ON p.codetype = c.id
			LEFT JOIN sponsor sp
			ON c.sponsorId = sp.id


		WHERE p.activity_id = #{id}
				and  p.is_delete = 0 AND p.status=1
				ORDER BY p.prize_type

		limit #{paging.start},#{paging.pageSize}
	</select>
	<!-- 单个插入，只插入不为空的字段  -->
	<insert id="insert" parameterType="com.mem.vo.business.base.model.po.ActivityUser" >
		insert into activity_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null  and userId != '' ">
				user_id,
			</if>
			<if test="userName != null  and userName != '' ">
				user_name,
			</if>
			<if test="activityId != null  ">
				activity_id,
			</if>
			<if test="activityName != null  and activityName != '' ">
				activity_name,
			</if>
			<if test="passQty != null  ">
				pass_qty,
			</if>
			<if test="lotteryQty != null  ">
				lottery_qty,
			</if>

			<if test="createTime != null  ">
				create_time,
			</if>
			<if test="createUser != null  and createUser != '' ">
				create_user,
			</if>
			<if test="updateTime != null  ">
				update_time,
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				update_user,
			</if>
			<if test="isDelete != null  ">
				is_delete,
			</if>
			<if test="isShare != null  ">
				is_share,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null  and userId != '' ">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null  and userName != '' ">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null  ">
				#{activityId,jdbcType=INTEGER},
			</if>
			<if test="activityName != null  and activityName != '' ">
				#{activityName,jdbcType=VARCHAR},
			</if>
			<if test="passQty != null  ">
				#{passQty,jdbcType=INTEGER},
			</if>
			<if test="lotteryQty != null  ">
				#{lotteryQty,jdbcType=INTEGER},
			</if>
			<if test="createTime != null  ">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null  and createUser != '' ">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null  ">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null  ">
				#{isDelete,jdbcType=TINYINT},
			</if>
			<if test="isShare != null  ">
				#{isShare,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>

	<select id="queryShareAddUserListCount" resultType="int">
		select count(DISTINCT(acts.user_id)) from  `user` u
	LEFT JOIN activity_share acts ON acts.user_id = u.biz_code
	WHERE acts.is_delete = 0 and u.is_delete = 0
		<if test="act.createtime!=null and act.createtime!=''">
			AND acts.create_time >= #{act.createtime}

		</if>
		<if test="act.endtime!=null and act.endtime!=''">
			AND acts.create_time &lt;=#{act.endtime}
		</if>
		<if test="act.phonenumber!=null and act.phonenumber!=''">
			AND u.phone_number like '%${act.phonenumber}%'
		</if>



	</select>
	<select id="queryShareAddUserList" resultType="com.mem.vo.business.base.model.po.ActivitysharePc" >
		select u.id,u.biz_code,u.`name`,u.phone_number AS phonenumber , COUNT(acts.user_id) AS newnum from  `user` u
		LEFT JOIN activity_share acts ON acts.user_id = u.biz_code
		WHERE acts.is_delete = 0 and u.is_delete = 0

		<if test="act.createtime!=null and act.createtime!=''">
			AND acts.create_time >= #{act.createtime}

		</if>
		<if test="act.endtime!=null and act.endtime!=''">
			AND acts.create_time &lt;=#{act.endtime}
		</if>
		<if test="act.phonenumber!=null and act.phonenumber!=''">
			AND u.phone_number like '%${act.phonenumber}%'
		</if>

		GROUP BY acts.user_id
		ORDER BY newnum DESC
		limit #{pager.start},#{pager.pageSize}


	</select>


	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateById" parameterType="com.mem.vo.business.base.model.po.ActivityUser" >
		update activity_user set
		<trim  suffixOverrides="," >
			<if test="userId != null  and userId != '' ">
				user_id=#{userId,jdbcType=VARCHAR},
			</if>
			<if test="userName != null  and userName != '' ">
				user_name=#{userName,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null  ">
				activity_id=#{activityId,jdbcType=INTEGER},
			</if>
			<if test="activityName != null  and activityName != '' ">
				activity_name=#{activityName,jdbcType=VARCHAR},
			</if>
			<if test="passQty != null  ">
				pass_qty=#{passQty,jdbcType=INTEGER},
			</if>
			<if test="lotteryQty != null  ">
				lottery_qty=#{lotteryQty,jdbcType=INTEGER},
			</if>

			<if test="updateTime != null  ">
				update_time=#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				update_user=#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="isShare != null  ">
				is_share=#{isShare,jdbcType=TINYINT},
			</if>
		</trim>
		where id=#{id,jdbcType=INTEGER} and is_delete = 0
	</update>

	<update id="updateByUserId" parameterType="com.mem.vo.business.base.model.po.ActivityUser" >
		update activity_user set
		<trim  suffixOverrides="," >
			<if test="userName != null  and userName != '' ">
				user_name=#{userName,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null  ">
				activity_id=#{activityId,jdbcType=INTEGER},
			</if>
			<if test="activityName != null  and activityName != '' ">
				activity_name=#{activityName,jdbcType=VARCHAR},
			</if>
			<if test="passQty != null  ">
				pass_qty=#{passQty,jdbcType=INTEGER},
			</if>
			<if test="lotteryQty != null  ">
				lottery_qty=#{lotteryQty,jdbcType=INTEGER},
			</if>

			<if test="updateTime != null  ">
				update_time=#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				update_user=#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="isShare != null  ">
				is_share=#{isShare,jdbcType=TINYINT},
			</if>
		</trim>
		where user_id=#{userId,jdbcType=VARCHAR} and is_delete = 0
	</update>

	<!-- 删除记录 -->
	<update id="deleteById" parameterType="java.lang.Long">
		update activity_user set is_delete = 1 where id = #{id,jdbcType=BIGINT}  and is_delete = 0
	</update>


	<!-- 根据条件查询列表 -->
	<select id="findByCondition" resultMap="BaseResultMap"  parameterType="com.mem.vo.business.base.model.po.ActivityUserQuery">
		select
		<include refid="Base_Column_List"/>
		from activity_user
		<include refid="whereCondition"/>
	</select>

	<!-- 根据条件查询数量 -->
	<select id="findCountByCondition" resultType="Integer"  parameterType="com.mem.vo.business.base.model.po.ActivityUserQuery">
		select count(*) as sum from activity_user
		<include refid="whereCondition"/>
	</select>

	<update id="updateLotteryQtyReduceById" parameterType="java.lang.Long">
		update activity_user set lottery_qty=if(lottery_qty <![CDATA[<]]> 1,0,lottery_qty-1) where id = #{id,jdbcType=BIGINT}  and is_delete = 0
	</update>

	<update id="updateByUserIdAndActivityId" >
		update activity_user set pass_qty=#{qty}, update_time = #{updateTime}
		<if test="l != null and  l != '' ">
			,lottery_qty=#{l}+lottery_qty

		</if>
		where user_id = #{id}  and is_delete = 0  and activity_id = #{acId}
	</update>
</mapper>
