<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mem.vo.business.base.dao.ActivityUrlDao">

    <resultMap id="BaseResultMap" type="com.mem.vo.business.base.model.po.ActivityUrl">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="sponsorId" property="sponsorId" jdbcType="VARCHAR"/>
        <result column="isDelete" property="isDelete" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="enable" property="enable" jdbcType="INTEGER"/>
    </resultMap>

    <!-- prize table all fields -->
    <sql id="Base_Column_List" >
		 id,
		sponsorId,
		isDelete,
		status,
		url,
		status
	</sql>
    <insert id="insert" >
        <selectKey resultType="_long" keyProperty="id" order="AFTER">
            select @@IDENTITY as id
        </selectKey>
        insert into activity_url
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sponsorId != null and sponsorId != ''">
                sponsorId ,
            </if>
            <if test="isDelete != null and isDelete != ''">
                is_delete ,
            </if>
            <if test="status != null and status != ''">
                status ,
            </if>
            <if test="url != null and url != ''">
                url ,
            </if>
            <if test="enable != null  and enable != ''">
                enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sponsorId != null and sponsorId != ''">
                #{sponsorId} ,
            </if>
            <if test="isDelete != null and isDelete != ''">
                #{isDelete} ,
            </if>
            <if test="status != null and status != ''">
                #{status} ,
            </if>
            <if test="url != null and url != ''">
                #{url} ,
            </if>
            <if test="enable != null  and enable != ''">
                #{enable},
            </if>
        </trim>
    </insert>
    <update id="update" >
        update  activity_url set
        <trim  suffixOverrides="," >
            <if test="sponsorId != null and sponsorId != ''">
                sponsorId=#{sponsorId} ,
            </if>
            <if test="isDelete != null and isDelete != ''">
                isDelete=#{isDelete} ,
            </if>
            <if test="status != null and status != ''">
                status=#{status} ,
            </if>
            <if test="url != null and url != ''">
                url=#{url} ,
            </if>
            <if test="enable != null  and enable != ''">
                enable=#{enable},
            </if>
        </trim>
        where id = #{id}
    </update>

    <!-- 删除记录 -->
    <update id="deleteById" parameterType="java.lang.Long">
		update activity_url set isDelete = 1 where id = #{id,jdbcType=BIGINT}  and isDelete = 0
	</update>

    <select id="queryPage"  resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from activity_url where 1=1 and isDelete=0
        <if test="activityUrl.sponsorId != null and activityUrl.sponsorId != ''">
            and sponsorId=#{activityUrl.sponsorId}
        </if>
        <if test="activityUrl.status != null and activityUrl.status != ''">
            and status=#{activityUrl.status}
        </if>
        <if test="activityUrl.url != null and activityUrl.url != ''">
            and url=#{activityUrl.url}
        </if>
        <if test="activityUrl.enable != null and activityUrl.enable != ''">
            and enable=#{activityUrl.enable}
        </if>

    </select>
    <select id="query"  resultMap="BaseResultMap">
        select  a.id,
        a.sponsorId,
        a.isDelete,
        a.status,
        a.url ,b.name  as sponsorName

        from activity_url  a left  join sponsor b on b.id=  a.sponsorId  where   a.isDelete= 0
        <if test="id != null and id != ''">
            and a.id=#{id}
        </if>
        <if test="sponsorId != null and sponsorId != ''">
            and a.sponsorId=#{sponsorId}
        </if>

        <if test="status != null and status != ''">
            and a.status=#{status}
        </if>
        <if test="url != null and url != ''">
            and a.url=#{url}
        </if>
        <if test="enable != null and enable != ''">
            and a.enable=#{enable}
        </if>
    </select>
</mapper>
