<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mem.vo.business.base.dao.ActivityRuleUrlDao">

    <resultMap id="BaseResultMap" type="com.mem.vo.business.base.model.po.ActivityRuleUrl">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- prize table all fields -->
    <sql id="Base_Column_List" >
        id,
	url
    </sql>
</mapper>
