<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mem.vo.business.base.dao.DrawRecordDao">

    <resultMap id="BaseResultMap" type="com.mem.vo.business.base.model.po.DrawRecord">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="activity_id" property="activityId" jdbcType="BIGINT"/>
        <result column="activity_name" property="activityName" jdbcType="VARCHAR"/>
        <result column="prize_id" property="prizeId" jdbcType="BIGINT"/>
        <result column="prize_name" property="prizeName" jdbcType="VARCHAR"/>
        <result column="opt_time" property="optTime" jdbcType="TIMESTAMP"/>
        <result column="draw_code" property="drawCode" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="draw_status" property="drawStatus" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="ts" property="ts" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- draw_record table all fields -->
    <sql id="Base_Column_List">
		 id,	
		activity_id,	
		activity_name,	
		prize_id,	
		prize_name,	
		opt_time,	
		draw_code,	
		user_id,	
		phone_number,	
		draw_status,	
		create_time,	
		create_user,	
		update_time,	
		update_user
	</sql>
    <!-- 查询条件 -->
    <sql id="whereCondition">
        where is_delete = 0
        <trim suffixOverrides=",">
            <if test="condition.id != null">
                and id = #{condition.id,jdbcType=BIGINT}
            </if>

            <if test="condition.activityId != null">
                and activity_id = #{condition.activityId,jdbcType=BIGINT}
            </if>

            <if test="condition.activityName != null and condition.activityName != ''">
                and activity_name = #{condition.activityName,jdbcType=VARCHAR}
            </if>

            <if test="condition.prizeId != null">
                and prize_id = #{condition.prizeId,jdbcType=BIGINT}
            </if>

            <if test="condition.prizeName != null and condition.prizeName != ''">
                and prize_name = #{condition.prizeName,jdbcType=VARCHAR}
            </if>

            <if test="condition.optTime != null">
                and opt_time = #{condition.optTime,jdbcType=TIMESTAMP}
            </if>
            <if test="condition.drawCode != null and condition.drawCode != ''">
                and draw_code = #{condition.drawCode,jdbcType=VARCHAR}
            </if>

            <if test="condition.userId != null">
                and user_id = #{condition.userId,jdbcType=BIGINT}
            </if>

            <if test="condition.phoneNumber != null and condition.phoneNumber != ''">
                and phone_number = #{condition.phoneNumber,jdbcType=VARCHAR}
            </if>

            <if test="condition.drawStatus != null and condition.drawStatus != ''">
                and draw_status = #{condition.drawStatus,jdbcType=VARCHAR}
            </if>

            <if test="condition.createTime != null">
                and create_time = #{condition.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="condition.createUser != null and condition.createUser != ''">
                and create_user = #{condition.createUser,jdbcType=VARCHAR}
            </if>

            <if test="condition.updateTime != null">
                and update_time = #{condition.updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="condition.updateUser != null and condition.updateUser != ''">
                and update_user = #{condition.updateUser,jdbcType=VARCHAR}
            </if>


            <if test="condition.ts != null">
                and ts = #{condition.ts,jdbcType=TIMESTAMP}
            </if>

        </trim>
    </sql>

    <!-- 单个插入，只插入不为空的字段  -->
    <insert id="insert" parameterType="com.mem.vo.business.base.model.po.DrawRecord">
        insert into draw_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityId != null  ">
                activity_id,
            </if>
            <if test="activityName != null  and activityName != '' ">
                activity_name,
            </if>
            <if test="prizeId != null  ">
                prize_id,
            </if>
            <if test="prizeName != null  and prizeName != '' ">
                prize_name,
            </if>
            <if test="optTime != null  ">
                opt_time,
            </if>
            <if test="drawCode != null  and drawCode != '' ">
                draw_code,
            </if>
            <if test="userId != null  ">
                user_id,
            </if>
            <if test="phoneNumber != null  and phoneNumber != '' ">
                phone_number,
            </if>
            <if test="drawStatus != null  and drawStatus != '' ">
                draw_status,
            </if>
            <if test="createTime != null  ">
                create_time,
            </if>
            <if test="createUser != null  and createUser != '' ">
                create_user,
            </if>
            <if test="updateTime != null  ">
                update_time,
            </if>
            <if test="updateUser != null  and updateUser != '' ">
                update_user,
            </if>
            <if test="isDelete != null  ">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityId != null  ">
                #{activityId,jdbcType=BIGINT},
            </if>
            <if test="activityName != null  and activityName != '' ">
                #{activityName,jdbcType=VARCHAR},
            </if>
            <if test="prizeId != null  ">
                #{prizeId,jdbcType=BIGINT},
            </if>
            <if test="prizeName != null  and prizeName != '' ">
                #{prizeName,jdbcType=VARCHAR},
            </if>
            <if test="optTime != null  ">
                #{optTime,jdbcType=TIMESTAMP},
            </if>
            <if test="drawCode != null  and drawCode != '' ">
                #{drawCode,jdbcType=VARCHAR},
            </if>
            <if test="userId != null  ">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="phoneNumber != null  and phoneNumber != '' ">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="drawStatus != null  and drawStatus != '' ">
                #{drawStatus,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null  ">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null  and createUser != '' ">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null  ">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null  and updateUser != '' ">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null  ">
                #{isDelete,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <!-- 修改记录，只修改只不为空的字段 -->
    <update id="updateById" parameterType="com.mem.vo.business.base.model.po.DrawRecord">
        update draw_record set
        <trim suffixOverrides=",">
            <if test="activityId != null  ">
                activity_id=#{activityId,jdbcType=BIGINT},
            </if>
            <if test="activityName != null  and activityName != '' ">
                activity_name=#{activityName,jdbcType=VARCHAR},
            </if>
            <if test="prizeId != null  ">
                prize_id=#{prizeId,jdbcType=BIGINT},
            </if>
            <if test="prizeName != null  and prizeName != '' ">
                prize_name=#{prizeName,jdbcType=VARCHAR},
            </if>
            <if test="optTime != null  ">
                opt_time=#{optTime,jdbcType=TIMESTAMP},
            </if>
            <if test="drawCode != null  and drawCode != '' ">
                draw_code=#{drawCode,jdbcType=VARCHAR},
            </if>
            <if test="userId != null  ">
                user_id=#{userId,jdbcType=BIGINT},
            </if>
            <if test="phoneNumber != null  and phoneNumber != '' ">
                phone_number=#{phoneNumber,jdbcType=VARCHAR},
            </if>
            <if test="drawStatus != null  and drawStatus != '' ">
                draw_status=#{drawStatus,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null  ">
                update_time=#{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null  and updateUser != '' ">
                update_user=#{updateUser,jdbcType=VARCHAR},
            </if>
        </trim>
        where id=#{id,jdbcType=BIGINT} and is_delete = 0
    </update>

    <!-- 删除记录 -->
    <update id="deleteById" parameterType="java.lang.Long">
		update draw_record set is_delete = 1 where id = #{id,jdbcType=BIGINT}  and is_delete = 0
	</update>

    <!-- 根据id查询 接单中台表 -->
    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from draw_record where id = #{id,jdbcType=BIGINT}
    </select>

    <!-- 根据条件查询列表 -->
    <select id="findByCondition" resultMap="BaseResultMap"
            parameterType="com.mem.vo.business.base.model.po.DrawRecordQuery">
        select
        <include refid="Base_Column_List"/>
        from draw_record
        <include refid="whereCondition"/>
    </select>
</mapper>   
