<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mem.vo.business.base.dao.ExchangeLogDao" >

	<resultMap id="BaseResultMap" type="com.mem.vo.business.base.model.po.ExchangeLog" >
		<result column="id" property="id" jdbcType="BIGINT"/>
			<result column="performance_id" property="performanceId" jdbcType="BIGINT"/>
			<result column="performance_name" property="performanceName" jdbcType="VARCHAR"/>
			<result column="operator_id" property="operatorId" jdbcType="BIGINT"/>
			<result column="operator_phone_number" property="operatorPhoneNumber" jdbcType="VARCHAR"/>
			<result column="operator_name" property="operatorName" jdbcType="VARCHAR"/>
			<result column="user_id" property="userId" jdbcType="BIGINT"/>
			<result column="user_phone_number" property="userPhoneNumber" jdbcType="VARCHAR"/>
			<result column="user_name" property="userName" jdbcType="VARCHAR"/>
			<result column="exchange_num" property="exchangeNum" jdbcType="INTEGER"/>
			<result column="exchange_code" property="exchangeCode" jdbcType="VARCHAR"/>
			<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
			<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
			<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
			<result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
			<result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
			<result column="ts" property="ts" jdbcType="TIMESTAMP"/>
		</resultMap>
       
<!-- exchange_log table all fields -->
	<sql id="Base_Column_List" >
		 id,	
		performance_id,	
		performance_name,	
		operator_id,	
		operator_phone_number,	
		operator_name,	
		user_id,	
		user_phone_number,	
		user_name,	
		exchange_num,	
		exchange_code,	
		create_time,	
		create_user,	
		update_time,	
		update_user
	</sql>
<!-- 查询条件 -->
	<sql id="whereCondition">
       	where is_delete = 0
		<trim  suffixOverrides="," >
			<if test="condition.id != null" >
				and id =  #{condition.id,jdbcType=BIGINT}
			</if>
			
			<if test="condition.performanceId != null" >
				and performance_id =  #{condition.performanceId,jdbcType=BIGINT}
			</if>
			
			<if test="condition.performanceName != null and condition.performanceName != ''" >
				and performance_name =  #{condition.performanceName,jdbcType=VARCHAR}
			</if>
			
			<if test="condition.operatorId != null" >
				and operator_id =  #{condition.operatorId,jdbcType=BIGINT}
			</if>
			
			<if test="condition.operatorPhoneNumber != null and condition.operatorPhoneNumber != ''" >
				and operator_phone_number =  #{condition.operatorPhoneNumber,jdbcType=VARCHAR}
			</if>
			
			<if test="condition.operatorName != null and condition.operatorName != ''" >
				and operator_name =  #{condition.operatorName,jdbcType=VARCHAR}
			</if>
			
			<if test="condition.userId != null" >
				and user_id =  #{condition.userId,jdbcType=BIGINT}
			</if>
			
			<if test="condition.userPhoneNumber != null and condition.userPhoneNumber != ''" >
				and user_phone_number =  #{condition.userPhoneNumber,jdbcType=VARCHAR}
			</if>
			
			<if test="condition.userName != null and condition.userName != ''" >
				and user_name =  #{condition.userName,jdbcType=VARCHAR}
			</if>
			
			<if test="condition.exchangeNum != null" >
				and exchange_num =  #{condition.exchangeNum,jdbcType=INTEGER}
			</if>
			
			<if test="condition.exchangeCode != null and condition.exchangeCode != ''" >
				and exchange_code =  #{condition.exchangeCode,jdbcType=VARCHAR}
			</if>
			
			<if test="condition.createTime != null" >
				and create_time =  #{condition.createTime,jdbcType=TIMESTAMP}
			</if>
			<if test="condition.createUser != null and condition.createUser != ''" >
				and create_user =  #{condition.createUser,jdbcType=VARCHAR}
			</if>
			
			<if test="condition.updateTime != null" >
				and update_time =  #{condition.updateTime,jdbcType=TIMESTAMP}
			</if>
			<if test="condition.updateUser != null and condition.updateUser != ''" >
				and update_user =  #{condition.updateUser,jdbcType=VARCHAR}
			</if>
			

			<if test="condition.ts != null" >
				and ts =  #{condition.ts,jdbcType=TIMESTAMP}
			</if>
			
		</trim>
	</sql>

    <!-- 单个插入，只插入不为空的字段  -->
    <insert id="insert" parameterType="com.mem.vo.business.base.model.po.ExchangeLog"  useGeneratedKeys="true"
            keyProperty="id">
         insert into exchange_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="performanceId != null  ">
				performance_id,
			</if>
			<if test="performanceName != null  and performanceName != '' ">
				performance_name,
			</if>
			<if test="operatorId != null  ">
				operator_id,
			</if>
			<if test="operatorPhoneNumber != null  and operatorPhoneNumber != '' ">
				operator_phone_number,
			</if>
			<if test="operatorName != null  and operatorName != '' ">
				operator_name,
			</if>
			<if test="userId != null  ">
				user_id,
			</if>
			<if test="userPhoneNumber != null  and userPhoneNumber != '' ">
				user_phone_number,
			</if>
			<if test="userName != null  and userName != '' ">
				user_name,
			</if>
			<if test="exchangeNum != null  ">
				exchange_num,
			</if>
			<if test="exchangeCode != null  and exchangeCode != '' ">
				exchange_code,
			</if>
			<if test="createTime != null  ">
				create_time,
			</if>
			<if test="createUser != null  and createUser != '' ">
				create_user,
			</if>
			<if test="updateTime != null  ">
				update_time,
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				update_user,
			</if>
			<if test="isDelete != null  ">
				is_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="performanceId != null  ">
				#{performanceId,jdbcType=BIGINT},
			</if>
			<if test="performanceName != null  and performanceName != '' ">
				#{performanceName,jdbcType=VARCHAR},
			</if>
			<if test="operatorId != null  ">
				#{operatorId,jdbcType=BIGINT},
			</if>
			<if test="operatorPhoneNumber != null  and operatorPhoneNumber != '' ">
				#{operatorPhoneNumber,jdbcType=VARCHAR},
			</if>
			<if test="operatorName != null  and operatorName != '' ">
				#{operatorName,jdbcType=VARCHAR},
			</if>
			<if test="userId != null  ">
				#{userId,jdbcType=BIGINT},
			</if>
			<if test="userPhoneNumber != null  and userPhoneNumber != '' ">
				#{userPhoneNumber,jdbcType=VARCHAR},
			</if>
			<if test="userName != null  and userName != '' ">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="exchangeNum != null  ">
				#{exchangeNum,jdbcType=INTEGER},
			</if>
			<if test="exchangeCode != null  and exchangeCode != '' ">
				#{exchangeCode,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null  ">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null  and createUser != '' ">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null  ">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null  ">
				#{isDelete,jdbcType=TINYINT},
			</if>
		</trim>
    </insert>

	 <!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateById" parameterType="com.mem.vo.business.base.model.po.ExchangeLog" >
		 update exchange_log set 
		<trim  suffixOverrides="," >
			<if test="performanceId != null  ">
				performance_id=#{performanceId,jdbcType=BIGINT},
			</if>
			<if test="performanceName != null  and performanceName != '' ">
				performance_name=#{performanceName,jdbcType=VARCHAR},
			</if>
			<if test="operatorId != null  ">
				operator_id=#{operatorId,jdbcType=BIGINT},
			</if>
			<if test="operatorPhoneNumber != null  and operatorPhoneNumber != '' ">
				operator_phone_number=#{operatorPhoneNumber,jdbcType=VARCHAR},
			</if>
			<if test="operatorName != null  and operatorName != '' ">
				operator_name=#{operatorName,jdbcType=VARCHAR},
			</if>
			<if test="userId != null  ">
				user_id=#{userId,jdbcType=BIGINT},
			</if>
			<if test="userPhoneNumber != null  and userPhoneNumber != '' ">
				user_phone_number=#{userPhoneNumber,jdbcType=VARCHAR},
			</if>
			<if test="userName != null  and userName != '' ">
				user_name=#{userName,jdbcType=VARCHAR},
			</if>
			<if test="exchangeNum != null  ">
				exchange_num=#{exchangeNum,jdbcType=INTEGER},
			</if>
			<if test="exchangeCode != null  and exchangeCode != '' ">
				exchange_code=#{exchangeCode,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null  ">
				update_time=#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				update_user=#{updateUser,jdbcType=VARCHAR},
			</if>
		</trim>
		 where id=#{id,jdbcType=BIGINT} and is_delete = 0
	</update>

	<!-- 删除记录 -->
	<update id="deleteById" parameterType="java.lang.Long">
		update exchange_log set is_delete = 1 where id = #{id,jdbcType=BIGINT}  and is_delete = 0
	</update>
 
	<!-- 根据id查询 兑换日志表 -->
	<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="Base_Column_List" /> 
		 from exchange_log where id = #{id,jdbcType=BIGINT}
	</select>

	<!-- 根据条件查询列表 -->
	<select id="findByCondition" resultMap="BaseResultMap"  parameterType="com.mem.vo.business.base.model.po.ExchangeLogQuery">
		select
		<include refid="Base_Column_List"/>
		from exchange_log
		<include refid="whereCondition"/>
		order by create_time desc
	</select>
</mapper>   
