<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mem.vo.business.base.dao.IntegralDao" >

	<resultMap id="BaseResultMap" type="com.mem.vo.business.base.model.po.Integral" >
		<result column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_id" property="userId" jdbcType="INTEGER"/>
		<result column="integral_qty" property="integralQty" jdbcType="INTEGER"/>
		<result column="type" property="type" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
		<result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
		<result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
		<result column="activity_id" property="activityId" jdbcType="INTEGER"/>
		<result column="activity_name" property="activityName" jdbcType="VARCHAR"/>
	</resultMap>

	<!-- integral table all fields -->
	<sql id="Base_Column_List" >
		 id,
		user_id,
		integral_qty,
		type,
		create_time,
		create_user,
		update_time,
		update_user,
		activity_id,
		activity_name
	</sql>
	<!-- 查询条件 -->
	<sql id="whereCondition">
		where is_delete = 0
		<trim  suffixOverrides="," >
			<if test="condition.id != null" >
				and id =  #{condition.id,jdbcType=INTEGER}
			</if>

			<if test="condition.userId != null" >
				and user_id =  #{condition.userId,jdbcType=INTEGER}
			</if>

			<if test="condition.integralQty != null" >
				and integral_qty =  #{condition.integralQty,jdbcType=INTEGER}
			</if>

			<if test="condition.type != null" >
				and type =  #{condition.type,jdbcType=TINYINT}
			</if>

			<if test="condition.createTime != null" >
				and create_time =  #{condition.createTime,jdbcType=TIMESTAMP}
			</if>

			<if test="condition.createUser != null and condition.createUser != ''" >
				and create_user =  #{condition.createUser,jdbcType=VARCHAR}
			</if>

			<if test="condition.updateTime != null" >
				and update_time =  #{condition.updateTime,jdbcType=TIMESTAMP}
			</if>

			<if test="condition.updateUser != null and condition.updateUser != ''" >
				and update_user =  #{condition.updateUser,jdbcType=VARCHAR}
			</if>


			<if test="condition.activityId != null" >
				and activity_id =  #{condition.activityId,jdbcType=INTEGER}
			</if>

			<if test="condition.activityName != null and condition.activityName != ''" >
				and activity_name =  #{condition.activityName,jdbcType=VARCHAR}
			</if>

		</trim>
	</sql>
	<select id="integralRecordByUserCount" resultType="int">
		SELECT
		count(1)
		FROM integral
		WHERE user_id = #{id}
		AND  DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(create_time)
	</select>

	<select id="integralRecordByUser" resultType="com.mem.vo.business.base.model.po.Integral">
		SELECT
		<include refid="Base_Column_List"/>
		FROM integral
		WHERE user_id = #{id}
		AND  DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(create_time)
		order by create_time desc
		limit #{paging.start},#{paging.pageSize}
	</select>

	<insert id="insert" parameterType="com.mem.vo.business.base.model.po.Integral" >
		insert into integral
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null  ">
				user_id,
			</if>
			<if test="integralQty != null  ">
				integral_qty,
			</if>
			<if test="type != null  ">
				type,
			</if>
			<if test="createTime != null  ">
				create_time,
			</if>
			<if test="createUser != null  and createUser != '' ">
				create_user,
			</if>
			<if test="updateTime != null  ">
				update_time,
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				update_user,
			</if>
			<if test="isDelete != null  ">
				is_delete,
			</if>
			<if test="activityId != null  ">
				activity_id,
			</if>
			<if test="activityName != null  and activityName != '' ">
				activity_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null  ">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="integralQty != null  ">
				#{integralQty,jdbcType=INTEGER},
			</if>
			<if test="type != null  ">
				#{type,jdbcType=TINYINT},
			</if>
			<if test="createTime != null  ">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUser != null  and createUser != '' ">
				#{createUser,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null  ">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="isDelete != null  ">
				#{isDelete,jdbcType=TINYINT},
			</if>
			<if test="activityId != null  ">
				#{activityId,jdbcType=INTEGER},
			</if>
			<if test="activityName != null  and activityName != '' ">
				#{activityName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<!-- 单个插入，只插入不为空的字段  -->

	 <!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateById" parameterType="com.mem.vo.business.base.model.po.Integral" >
		 update integral set 
		<trim  suffixOverrides="," >
			<if test="userId != null  ">
				user_id=#{userId,jdbcType=INTEGER},
			</if>
			<if test="integralQty != null  ">
				integral_qty=#{integralQty,jdbcType=INTEGER},
			</if>
			<if test="type != null  ">
				type=#{type,jdbcType=TINYINT},
			</if>
			<if test="updateTime != null  ">
				update_time=#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUser != null  and updateUser != '' ">
				update_user=#{updateUser,jdbcType=VARCHAR},
			</if>
			<if test="activityId != null  ">
				activity_id=#{activityId,jdbcType=INTEGER},
			</if>
			<if test="activityName != null  and activityName != '' ">
				activity_name=#{activityName,jdbcType=VARCHAR},
			</if>
		</trim>
		where id=#{id,jdbcType=INTEGER} and is_delete = 0
	</update>

	<!-- 删除记录 -->
	<update id="deleteById" parameterType="java.lang.Long">
		update integral set is_delete = 1 where id = #{id,jdbcType=BIGINT}  and is_delete = 0
	</update>

	<!-- 根据id查询 积分表 -->
	<select id="findById"  resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="Base_Column_List" />
		from integral where id = #{id,jdbcType=INTEGER}
	</select>

	<!-- 根据条件查询列表 -->
	<select id="findByCondition" resultMap="BaseResultMap"  parameterType="com.mem.vo.business.base.model.po.IntegralQuery">
		select
		<include refid="Base_Column_List"/>
		from integral
		<include refid="whereCondition"/>
	</select>
</mapper>   
