<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>123456789</h1>

<form id = "import_form" action="file/uploadFile" method="post" enctype="multipart/form-data">
    选择文件:<input type="file" name="fileName" id="fileName">
    <input type="submit" id="import_btn" value="提交">
</form>

</body>
</html>

<script type="application/javascript">
    /*$(function(){
        $('#import_btn').click(function(){
            $("import_form").ajaxSubmit(function(data){
                alert("aaa");
            })
        })

    })*/
</script>